.card {
  background: var(--secondary);
  padding: 5px;
  position: relative;
  text-align: center;
  height: 100%;
}

.card:hover {
  border: 1px solid var(--terciary);
}

.fa-circle-right {
  font-weight: 100;
  position: absolute;
  right: 10px;
  top: 10px;
}
