@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #e04b84;
  --secondary: #c22f68;
  --terciary: #fc5193;
  --brand: #d23228;
  --success: #0d7d4d;
  --info: #03c7e8;
  --warning: #f0cc00;
  --danger: #ab0d02;
  --light: #f1ecea;
  --dark: #00262b;
  --white: #fff;
  --lato-font: 'Lato', sans-serif;
}

body {
  font-family: var(--lato-font);
  background: var(--primary);
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 5px;
}

.flex {
  display: flex;
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.bg-primary {
  background: var(--primary);
}

.bg-secondary {
  background: var(--secondary);
}
